*{
    margin:0;
    color: white;
    padding: 0;
    box-sizing: border-box;
    
}
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body{
    background-image: url(/images/backgroundcodigos.png);
    background-color: #000000f8;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
section{
    width: 100vw;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.active{
    border-bottom: solid 4px #0c3a56;
}

.animate{
    max-width: 480px;
    text-align: center;

}
.animate:after{
 content: '|';
 margin-left: 5px;
 opacity: 1;
 animation: pisca .7s infinite;
}
/* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}


.menubar{
    width: 100%;
    display: flex;
    margin-block: 40px;
    padding:0;
    font-size: 30px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    list-style: none;
    justify-content: center;
    gap:50px;
}

a{
    justify-content: center;
    text-decoration: none;
}
.perfil{
    display: flex;
    justify-content: center;

}

.perfil img{
    width: 60%;
    height: auto;
    border-radius: 20px;
    position: relative;


}

.midias{
    display: flex;
    height: max-content;
    width: 50%;
    justify-content: center;

    

}
.bordatorta{
    width: 30%;
    margin-top: 30px;
    height: 61%;
    transform: translatex(30px);
    border-radius: 20px;
    border: solid #0c3a56 4px;
    position: absolute;
    z-index: -1;

    

}

.ladoesquerdo{
    width: 50%;
    padding-inline: 50px;
    
}

h1{

    font-size: 40px;
    font-family: "Chakra Petch", sans-serif;
    color: orange;
    padding: 0;
    width: max-content;
}

p{
    width: 100%;
    font-size: 25px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    font-family: "Rajdhani", sans-serif;
}


.apresentacao{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    justify-content: space-between;
    width: 100%;
    align-items: center;

}


footer{
    border-top: solid rgb(255, 132, 0) 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: auto;
    
}
.conjuntofooter{

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
footer #aluraicon{
    display: flex;
    justify-content: center;
    height: 65px;
    align-items: center;
    padding-top: 10px;
}

footer .assinatura{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
    font-family:"Rajdhani", sans-serif; ;
}
h2{
    display: flex;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    font-family:"Chakra Petch", sans-serif;
    font-weight: 200;
}
ul2{
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
}
ul2 li2{

    display: flex;
    justify-content: center;
    height: 100px;
    margin-bottom:30px;

}
ul2 li2 a{

    display: flex;
    border: 2px solid rgb(255, 255, 255);
    color: orange;
    width: 70%;
    justify-content: center;
    align-items: center;
    background:rgba(92, 79, 236, 0.1);
    text-decoration: none;
    border-radius: 15px;
    font-family:"Chakra Petch", sans-serif;
}

.tecnologias img{
    
        width: 425px;
        height: 425px;
        border-radius: 400px;
        position: relative;
    
}
.bordaredonda{
    width: 425px;
    height: 425px;
    border-radius: 400px;
    border: solid rgb(253, 236, 204) 4px;
    position: absolute;
    background: rgb(0, 0, 92);
    z-index: -1;
    margin-top: 20px;
    margin-left: 20px;
}

.certificados{
    margin-top: 30px;
}
.apresentacaoprojeto{
    display: flex;
    flex-direction: column;
    height: max-content;
    padding-inline: 50px;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    text-align: center;
}
.osprojetos{
    border: solid rgba(255, 255, 255, 0.337) 2px;
    background:rgba(92, 79, 236, 0.1);
    display: flex;
    justify-content: center;
    text-align:start;
    height: max-content;
    border-radius: 10px;
}
.descprojetos{
    display: flex;

    
}
.myprojects{
    display: flex; 
    padding: 20px;
    text-align: start;
}


.midiasprojetos{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 100px;
    height: 400px;
    width: max-content;

    
}

.projetosimg{

    width: 400px;
    display: flex;
    justify-content: center;
    justify-items: center;


}
.projetosimg img{
    width: 400px;
    height: 250px;
    display: flex;
    border-radius: 10px;
    border: solid rgba(255, 255, 255, 0.337) 2px;
    position: relative;
    z-index: 1;

}

.bordaprojetotorta1{
    width: 405px;
    height: 250px;
    border-radius: 20px;
    margin-top: 40px;
    transform: translatex(20px);
    border: solid #0c3a56 4px;
    position: absolute;
    z-index: -1;
}
.bordaprojetotorta2{
    width: 405px;
    height: 250px;
    border-radius: 20px;
    margin-top: 40px;
    transform: translatex(510px);
    border: solid #0c3a56 4px;
    position: absolute;
    z-index: -1;
    margin-left: 20px;

}

.bordaprojetotorta3{
    width: 405px;
    height: 250px;
    border-radius: 20px;
    margin-top: 40px;
    border: solid #0c3a56 4px;
    transform: translatex(-480px);
    position: absolute;
    z-index: -1;
}

@media (max-width: 600px) {
    .facet_sidebar {
      display: none;
    }

    .perfil{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .perfil img{
        width: 70%;
    }
    ul2 li2{
        width: 100%;
        margin: 0;
    }
    ul2{
        margin:0;
        width: 100%;
        gap: 20px;
    }
    ul2 li2 a{
        margin: 0;
    }
    .ladoesquerdo{
        width: 100vw;
        padding-inline: 20px;
    }
    p{
        width: 100%;
        text-align: center;
    }
    .bordatorta{
        width: 70%;
        height: 32%; 
        margin-right: 20px;

    }
    .midias{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .apresentacao{
        gap: 30px; 
        padding-bottom: 60px;
    }
    .projetosimg{
        width: 80%;
        height: auto;
    }
    .projetosimg img{
        width: 100%;

    }
    .tecnologias img{
        width: 365px;
        height: 365px;
    }
    .bordaredonda{
        width: 365px;
        height: 365px;
    }
    .osprojetos{
        width: 100%;
        flex-direction: column;
  
    }
    .midiasprojetos{
        width: 100%;
        flex-direction: column;
        justify-content: center;

        height: auto;
        padding-bottom: 90px;
    }
    .projetosimg img{
        width: 120%;
        height: 200px;
        display: flex;
        border-radius: 10px;
        border: solid rgba(255, 255, 255, 0.337) 2px;
        position: relative;
        z-index: 1;
    }
    .bordaprojetotorta1{
        width: 75%;
        height: 200px;
        border-radius: 20px;
        border: solid #0c3a56 4px;
        position: absolute;
        z-index: -1;
    }
    .bordaprojetotorta2{
        width: 75%;
        height: 200px;
        border-radius: 20px;
        transform: translatey(-302px);
        margin-left: 39px;
        border: solid #0c3a56 4px;
        position: absolute;
        z-index: -1;
    }
    .bordaprojetotorta3{
        width: 75%;
        height: 200px;
        border-radius: 20px;
        transform: translatey(300px);
        margin-left: 39px;
        border: solid #0c3a56 4px;
        position: absolute;
        z-index: -1;
    }

    
  }